/*All*/
*{margin:0 auto; padding:0;list-style: none;text-decoration: none;}
#wrap{max-width:95%;}
a{color:inherit;}


/*menu*/
header{position: relative;z-index: 1;height:60px;width:100%;}
header #menubar{align-items: center;position: fixed;display:flex;background-color: #fff;width:95%;height:60px;}
.menu{float:left;margin:5px;}
.ef-menu{padding:10px;}
.ef-menu:hover{background-color: #ebebeb;border-radius: 30px;color:black;} 
#search{background-color: #ebebeb;border-radius: 30px;border:none;padding:12px;margin-top:2px;}

/*grid*/
.grid-item>img{width:100%;max-width:333px;border-radius:30px;margin:10px 0 10px 0;}
.grid-item>img:hover{opacity: 0.5;}



/*common modal*/
.center{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}
.btn {
    margin-top:10px;
    height:40px;
    border-radius: 20px;
    border:none;
}


/*modal*/
#modal, #modal2{
    display:none;
    position: relative;
    z-index:2;
}
#modal .modal-layer, #modal2 .modal-layer{
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:fixed;
    background:rgba(0, 0, 0, 0.5);
}
#modal .modal-content, #modal2 .modal-content{
    width:400px;
    height:400px;
    background-color: #fff;
    border-radius: 50px;
    transform: translate(-50%,-50%);
}

#modal .modal-content > div, #modal2 .modal-content > div{
    height:auto;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    display:grid;
}
#modal .modal-content h1, #modal2 .modal-content h1{
    margin-bottom:10px;
}
#modal .modal-input, #modal2 .modal-input{
    padding-left:10px;
    border:none;
    background-color: #ebebeb;
    width:200px;
}
#modal .modal-btn, #modal2 .modal-btn{
    background-color:#d6291a;
    color:snow;
    width:100px;    
   
    font-weight: bold;
}
#modal .modal-btn:hover, #modal2 .modal-btn:hover{
    background-color: black;
}

#if {
    display:none;
}